<header>
  <h1>References from past management:</h1>

  <p id="Gary">
    I have had the opportunity to have Chelsea as a part of my team for almost
    two years. During this time, I have watched Chelsea work tirelessly to
    become one of the most valuable members of our team. Often, Chelsea led our
    team in achievements core KPI’s. She is one of the first to take on a new
    initiative or project and she provides great feedback to the leadership
    team. She is fearless when it comes to selling and gaining new business.
    Chelsea has a great attitude and energy that is contagious across the sales
    floor. This energy allowed her to progress from a mid-market Account
    Executive to an Enterprise Development Specialist in which she supported our
    most complex accounts. Chelsea is a great asset to any team and
    organization!
  </p>

  <p id="Joy">
    Chelsea joined my team at the end of 2015. Even during the interview
    process, I remember Chelsea showing extreme passion and drive to be do
    whatever it took to be successful. She didn't let me down. Chelsea has not
    ceased giving 110% on a daily basis since joining our team. She is an
    extremely hard-working, dedicated employee with a vision and never ending
    hunger to be successful and a powerful motivational energy to be aggressive
    in her quench for that next prospect. She's an invaluable team player who
    will bring the competitive spirit and drive to any team she's on.
  </p>

  <p id="Wendy">
    Over the short time that I worked with Chelsea, I saw her develop very
    quickly into a solid Account Executive. She tackles prospecting like no one
    I have seen. She diligently looks for new leads to speak to and is great at
    handling those tough, initial conversations. What has been most exciting to
    see is how Chelsea has grown into her role as Account Executive. Most
    recently she skilfully handled one of the larger deals in our department.
    There were several internal and external stakeholders and she was able to
    keep the deal moving along, despite lots of moving pieces. She kept everyone
    on track with planned agendas, creative ideas, and next steps. Chelsea also
    is a strong team player for the department. She took the lead on training
    new hires about prospecting and was also very vocal during our weekly
    training and role playing sessions. She is a strong and valued player for
    the department and company!
  </p>
</header>
