/* .item1 { */
/* grid-area: header; */
/* } */
.item2 {
  /* grid-area: menu; */
}
.item3 {
  /* grid-area: main; */
}
.item4 {
  /* grid-area: right; */
}

.item5 {
  /* grid-area: menu; */
  /* margin-top: 500px; */
  border-radius: 25px;
  background-color: #303030;
  color: #fff;
}
.item6 {
  /* grid-area: main; */
  border-radius: 25px;
  background-color: #16e0bd;
}
.item7 {
  /* grid-area: right; */
  border-radius: 25px;
  background-color: #303030;
  color: #fff;
}

img {
  width: 90%;
  height: 90%;
}
.grid-container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-areas:
    "header header header header header header"
    "menu menu main main right right"
    "menu menu main main right right"; */
  grid-gap: 10px;
  /* background-color: #2196f3; */
  padding: 10px;
}

.grid-container > div {
  /* background-color: #16e0bd; */
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}
