<head>
  <link
    href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap"
    rel="stylesheet"
  />
</head>

<body>
  <header>
    <ul>
      <li><a href="chelsswylie@gmail.com">Email me!</a></li>
      <li><a href="www.linkedin.com/chelsswylie">Shall we connect?</a></li>
      <li><a href="www.github.com/chelsswylie">Checkout my GitHub!</a></li>
    </ul>
    <div class="logo">
      <!-- <img src="../../assets/ChelseaW.png" alt="CWheadshot" /> -->
    </div>
    <!-- <button class="navtoggle" aria-label="togglenavigation">
      <span class="hamburger"></span>
    </button>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#About" class="nav__link">About Me</a>
        </li>
        <li class="nav__item">
          <a href="#Resume" class="nav__link">Resume</a>
        </li>
        <li class="nav__item"><a href="#" class="nav__link">Referrals</a></li>
        <li class="nav__item">
          <a href="#grandCircus" class="nav__link">Grand Circus</a>
        </li>
        <li class="nav__item"><a href="#" class="nav__link">CMU</a></li>
      </ul>
    </nav> -->
  </header>

  <!-- Introduction -->
  <section class="intro" id="About">
    <h1 class="section__title--intro">
      Hi, I am <strong>Chelsea Wylie</strong>

      <p class="section__subtitle section__subtitle--intro">
        FRONT END WEB DEVELOPER
      </p>
    </h1>
    <img src="../../assets/ChelseaW.png" alt="CWheadshot" />
  </section>
  <h3></h3>
  <p></p>
  <!-- My Services -->

  <section class="my-resume" id="Resume">
    <h2 class="section__title section__title--services">What I do</h2>
    <div class="services">
      <div class="service">
        <h3>JavaScript</h3>
        <p>Temporary placeholder</p>
      </div>
      <div class="service">
        <h3>Angular</h3>
        <p>Temporary placeholder</p>
      </div>
      <div class="service">
        <h3>Web Design</h3>
        <p>Temporary placeholder</p>
      </div>
    </div>

    <!-- End services -->
    <!-- 
    <a href="Referrals">Referrals</a> -->
  </section>

  <!-- Grand Circus -->

  <!-- <section class="GrandCircus" id="grandCircus">
    <header>
      <h2 class="section__title section__title--GC">Grand Circus</h2>
      <p class="section__subtitle section__subtitle--GC"></p>
      <div class="GC__Body">
        <p></p>
        <p></p>
      </div>
      <img src="../../assets/ChelseaW.png.jpg" alt="CWheadshot" />
    </header>
  </section>
  <section class="CMU" id="CMU">
    <h2 class="section__title">Central Michigan University</h2>
    <p class="section__subtitle"></p>

    <div class="portfolio">
      <a href="#" class="portfolio__item">
        <img src="../../assets/ChelseaW.png.jpg" alt="CWheadshot" />
      </a>
    </div>
  </section> -->

  <!-- Footer -->
  <!-- <footer>
    <a href="mailto:chelsswylie@gmail.com" class="footer__link"
      >chelsswylie@gmail.com</a
    >
    <ul class="social-list">
      <li class="social-list__item"><a class="social-list__link">GitHub</a></li>
      <li class="social-list__item"><a class="social-list__link">GitHub</a></li>
      <li class="social-list__item"><a class="social-list__link">GitHub</a></li>
      <li class="social-list__item"><a class="social-list__link">GitHub</a></li>
    </ul> -->
  <!-- </footer> -->
</body>
