@import "https://fonts.googleapis.com/css?family=Raleway";

body {
  height: 50vh;
  width: 100vw;
  font-family: Raleway;
}

.image {
  margin-left: 15%;
}
/* .image { */
/* background-color: green; */
/* height: 100px;
  width: 100px;
} */
/* img {
  height: 50%;
  width: 500px;
} */
#text {
  margin-left: auto;
  /* margin-bottom: 50px; */
  height: 100%;
  width: 50%;
  /* background-color: purple; */
  margin-top: -500px;
  margin-right: 3%;
  text-align: center;
}

/* .icons {
  height: 5px;
  width: 5px;
} */

/* #icon2 {
  margin-left: 50%;
} */
