<body>
  <div class="image">
    <img
      src="../../assets/ChelseaW.png"
      alt="CWheadshot"
      height="33%"
      width="33%"
    />
  </div>

  <div class="pageSplitLeft">
    <div class="svg-wrapper">
      <!-- <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
        <rect class="noshape" height="60" width="320" />
      </svg> -->
      <div class="text">
        <h1>Hi, I'm <strong>Chelsea Wylie</strong></h1>
      </div>
    </div>
    <div class="svg-wrapper">
      <div class="text">
        <p class="Info">SOFTWARE DEVELOPER</p>
      </div>
    </div>
    <div class="svg-wrapper">
      <div class="text">
        <p class="Info">UI/UX</p>
      </div>
    </div>
    <div class="svg-wrapper">
      <div class="text">
        <p class="Info">AGILE</p>
      </div>
    </div>

    <div class="pageSplitRight">
      <div class="svg-wrapper">
        <!-- <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
        <rect class="noshape" height="60" width="320" />
      </svg> -->
        <!-- <div class="text"> -->
        <h1>Let's get in touch!</h1>
        <!-- </div> -->
      </div>
      <div class="svg-wrapper">
        <!-- <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
        <rect class="shape" height="60" width="320" />
      </svg> -->
        <div class="text">
          <p>
            <a href="https://www.linkedin.com/in/chelsswylie/">LINKEDIN</a>
          </p>
        </div>
      </div>
      <div class="svg-wrapper">
        <!-- <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
        <rect class="shape" height="60" width="320" />
      </svg> -->
        <div class="text">
          <p>
            <a href="https://github.com/chelsswylie">GITHUB </a>
          </p>
        </div>
      </div>
      <div class="svg-wrapper">
        <!-- <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
        <rect class="shape" height="60" width="320" />
      </svg> -->
        <div class="text">
          <p>
            <a href="mailto:chelsswylie@gmail.com">CONTACT ME</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- FOR MOBILE RESPONSIVE -->
  <!-- <div class="pageSplitLeftMobile">
    <div class="svg-wrapper"> -->
  <!-- <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
        <rect class="noshape" height="60" width="320" />
      </svg> -->
  <!-- <div class="text">
        <h1>Hi, I'm <strong>Chelsea Wylie</strong></h1>
      </div> -->
  <!-- </div>
    <div class="svg-wrapper">
      <div class="text">
        <p class="Info">SOFTWARE DEVELOPER</p>
      </div>
    </div>
    <div class="svg-wrapper">
      <div class="text">
        <p class="Info">UI/UX</p>
      </div>
    </div>
    <div class="svg-wrapper">
      <div class="text">
        <p class="Info">AGILE</p>
      </div>
    </div>
    <div class="text">
      <h1>Let's get in touch!</h1>
    </div>
    <div class="svg-wrapper">
      <div class="text">
        <p>
          <a href="mailto:chelsswylie@gmail.com">Contact Me</a>
        </p>
      </div>
    </div>
    <div class="svg-wrapper">
      <div class="text">
        <p>
          <a href="https://github.com/chelsswylie">GitHub </a>
        </p>
      </div>
    </div>
    <div class="svg-wrapper">
      <div class="text">
        <p>
          <a href="https://www.linkedin.com/in/chelsswylie/">LinkedIn</a>
        </p>
      </div> -->
  <!-- </div>
</body> -->
  <!-- </div> -->
</body>
