<body>
  <img
    class="image"
    src="../../assets/ChelseaW.png"
    alt="CWheadshot"
    height="600px"
    width="400px"
  />

  <div id="text">
    <h1>Hi, I'm <strong>Chelsea</strong></h1>

    <div class="service">
      <h2>SOFTWARE DEVELOPER</h2>
    </div>
    <div class="service">Let's connect :)</div>
    <br />
    <div class="icons">
      <a href="https://www.linkedin.com/in/chelsswylie/">
        <img src="../../assets/Linkedin-icon.png" alt="linkedin" />
      </a>
      <a href="https://github.com/chelsswylie">
        <img src="../../assets/web-github-icon.png" alt="github" />
      </a>
      <a href="mailto:chelsswylie@gmail.com">
        <img src="../../assets/Email-icon.png" alt="email" />
      </a>
    </div>
  </div>
</body>
