<body>
  <div class="svg-wrapper">
    <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
      <rect class="shape" height="60" width="320" />
    </svg>
    <div class="text">
      <p>
        <a href="/AboutMe">ABOUT ME </a>
      </p>
    </div>
  </div>
  <div class="svg-wrapper">
    <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
      <rect class="shape" height="60" width="320" />
    </svg>
    <div class="text">
      <p>
        <a href="/Resume"> RESUME </a>
      </p>
    </div>
  </div>
  <div class="svg-wrapper">
    <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
      <rect class="shape" height="60" width="320" />
    </svg>
    <div class="text">
      <p>
        <a href="/Projects"> PROJECTS </a>
      </p>
    </div>
  </div>
</body>
<!-- <div class="nav-section">
    <ul class="nav-links-1">
      <p>
        <li><a href="/AboutMe">About Me</a></li>
      </p>
      <p>
        <li><a href="/Resume">Resume</a></li>
      </p>
      <p>
        <li><a href="/Projects">Projects</a></li>
      </p> -->
<!-- <li><a href="/Home">Home</a></li> -->
<!-- <li><a href="/References">Referrals</a></li> -->
<!-- </ul> -->
<!-- 
  <div class="mobile__menu">
    <input id="toggle" type="checkbox" />
    <label class="hamburger" for="toggle">
      <div class="hamburger__top"></div>
      <div class="hamburger__meat"></div>
      <div class="hamburger__bottom"></div>
    </label>
    <div class="hamburger__nav">
      <div class="hamburger__nav--wrapper">
        <nav class="hamburger__nav--items">
          <li><a href="/AboutMe">About Me</a></li>
          <li><a href="/Resume">Resume</a></li>
          <li><a href="/References">Referrals</a></li>
        </nav>
      </div>
    </div>
  </div>
</div> -->
