<head>
  <link
    href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap"
    rel="stylesheet"
  />
</head>
<div class="nav-section">
  <ul class="nav-links-1">
    <li><a href="/AboutMe">About Me</a></li>
    <li><a href="/Resume">Resume</a></li>
    <li><a href="/References">Referrals</a></li>
  </ul>
  <!-- <ul class="nav-links-2">
    <li><a href="/Grand Circus">Grand Circus/Coding</a></li>
    <li><a href="/CMU">CMU/Music</a></li>
  </ul> -->
  <!-- <header>
    <h1>Chelsea S Wylie</h1>
    <ul>
      <li><a href="chelsswylie@gmail.com">Email me!</a></li>
      <li><a href="www.linkedin.com/chelsswylie">Shall we connect?</a></li>
      <li><a href="www.github.com/chelsswylie">Checkout my GitHub!</a></li>
    </ul>
  </header> -->
</div>
