body {
  width: 100vw;
  text-align: center;
  margin: auto;
  padding-top: 10vh;
  font-family: "PT Serif", serif;
  height: 100%;
  color: #303030;
}

h1 {
  width: 100vw;
}
h2 {
  text-decoration: underline #16e0bd;
}

/* .line {
  text-decoration: underline;
  width: 100vw;
} */
