@import "https://fonts.googleapis.com/css?family=Raleway";

body {
  width: 100vw;
  text-align: center;
  margin: auto;
  padding-top: 10vh;
  font-family: Raleway;

  height: 100%;
  color: #303030;
}

h1 {
  width: 100vw;
}
h2 {
  text-decoration: underline #6d99eb;
}

/* .line {
  text-decoration: underline;
  width: 100vw;
} */
