<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
  </head>
  <body>
    <h1 class="line">2020</h1>
    <div id="line"></div>

    <div class="projects">
      <h2>The Culture Exchange</h2>
      <a href="https://the-culture-exchange.web.app/home">Link to project</a
      ><br />
      <a href="https://github.com/chelsswylie/FINALPROJECT-CultureXchange"
        >Link to source code</a
      >
      <br />
      <h2>Foodies</h2>
      <a href="https://github.com/chelsswylie/Project2-RecipesAngularApp"
        >Link to source code</a
      ><br />
      <h2>Budget Buddy</h2>
      <a href="https://budget-buddy-9241b.firebaseapp.com/">Link to project</a
      ><br />
      <a href="https://github.com/chelsswylie/FINAL-project1"
        >Link to source code</a
      ><br />
      <h2>Detroit Fashion and Tech Hackathon, 2nd Place</h2>

      <a href="https://github.com/chelsswylie/dfth2020">Link to source code</a>
    </div>
  </body>
</html>
