<header>
  <h1>Grand Circus, Detroit MI</h1>
  <div class="first">
    <h2>Grand Circus Graduate, June 2020</h2>
    <p id="GC">
      My professional career has frequently found me in positions where I have
      been the technical point of support for colleagures and clients alike. My
      drive to find the best technical solution for any given business need
      eventually drove me towards Software Development, and I enrolled in formal
      training at Grand Circus in January of 2020. Throughout this 6 month
      period, I expanded my knowledge in areas like HTML, CSS, and JavaScript,
      and started fresh when learning about the Angular Framework and using Web
      APIs.<br /><br />

      By the end of my time at Grand Circus, I was able to work with a group via
      GitHub to produce a fully functional Angular web application that
      incorporated multiple Web APIs. This application was a topic that we
      decided on as a group, and then took creative liberties to build the
      website in the way that we wanted it displayed. We divded this up
      primarily by components, each of us taking an independent approach to
      getting the functionality working, and reviewed with each other daily. I
      found our open communication to be the thing that made our project so
      successful. Please see below for my key projects:
    </p>
    <div class="final">
      <a href="https://the-culture-exchange.web.app/home"
        >The Culture Xchange</a
      >
    </div>
  </div>
</header>
