/* .image {
  width: 100vw;
  text-align: center;
  height: 150px;
} */

section {
  /* padding: 5em 2em; */
  width: 100vw;
  /* position: relative; */
}
.techskillz {
  background-color: #fff;
  background-size: cover;
  color: #303030;
  text-align: center;
  font-family: "PT Serif", serif;
  box-sizing: border-box;
  display: block;
  /* font-size: 1rem; */
  line-height: 1.6;
  /* position: relative; */
}

h2 {
  line-height: 1.1;
  margin: 0;
}

.service {
  float: left;
  width: 33.33%;
  /* padding: 10px; */
}
