<!-- <div class="image">
  <h1>Central Michigan University</h1>
  <img src="../../assets/CMU.jpg" alt="CMU" />
</div> -->

<section id="techy" class="techskillz">
  <h2>Technology Skills</h2>
  <div class="services">
    <div class="service">
      <h3>HTML/CSS</h3>
      <h3>HTML/CSS</h3>
      <h3>HTML/CSS</h3>
    </div>
    <div class="service">
      <h3>HTML/CSS</h3>
      <h3>HTML/CSS</h3>
      <h3>HTML/CSS</h3>
    </div>
    <div class="service">
      <h3>HTML/CSS</h3>
      <h3>HTML/CSS</h3>
      <h3>HTML/CSS</h3>
    </div>
  </div>
</section>
