<body>
  <!-- <div class="sidebar">
    <div id="zero">Technology <br />skills</div>
    <div id="one">Education</div>

    <div id="two">Work Experience</div>
  </div> -->
  <h1 id="one">Tech Skills</h1>
  <section id="techy" class="techskillz">
    <!-- <div class="services"> -->
    <div class="service">
      <h4>HTML/CSS</h4>
      <h4>JavaScript</h4>
      <h4>Angular</h4>
    </div>
    <div class="service">
      <h4>Web APIs</h4>
      <h4>Node.js</h4>
      <h4>TypeScript</h4>
    </div>
    <div class="service">
      <h4>Git/GitHub</h4>
      <h4>Visual Basic for Applications</h4>
      <h4>SQL</h4>
    </div>
    <!-- </div> -->
  </section>
  <h1 id="two">Education</h1>
  <div class="first">
    <h3>
      <div class="line">Grand Circus</div>
      Front End Web Development Bootcamp Graduate<br />June 2020
    </h3>
    <p id="GC">
      My professional career has frequently found me in positions where I have
      been the technical point of support for colleagues and clients alike. My
      drive to find the best technical solution for any given business need
      eventually drove me towards Software Development, and I enrolled in formal
      training at Grand Circus in January of 2020. Throughout this 6 month
      period, I expanded my knowledge in areas like HTML, CSS, and JavaScript,
      and started fresh when learning about the Angular Framework and using Web
      APIs.<br /><br />

      By the end of my time at Grand Circus, I was able to work with a group via
      GitHub to produce a fully functional Angular web application that
      incorporated multiple Web APIs. This application was a topic that we
      decided on as a group, and then took creative liberties to build the
      website in the way that we wanted it displayed. We divided this up
      primarily by components, each of us taking an independent approach to
      getting the functionality working, and reviewed with each other daily. I
      found our open communication to be the thing that made our project so
      successful.
      <br /><br /><strong>Please see below for my key projects:</strong>
    </p>
    <div class="projects">
      <a href="https://the-culture-exchange.web.app/home">The Culture Xchange</a
      ><br />
      <a href="https://github.com/chelsswylie/Project2-RecipesAngularApp"
        >Foodies</a
      ><br />
      <a href="https://github.com/chelsswylie/FINAL-project1">Budget Buddy</a
      ><br />
      <a href="https://github.com/chelsswylie/dfth2020"
        >Detroit Fashion and Tech Hackathon, 2nd Place</a
      >
    </div>
  </div>
  <div class="second">
    <h3>
      Central Michigan University<br />
      June 2015 Graduate
    </h3>
    <p id="CMU">
      In 2015, I earned my Bachelor of Arts in Music Performance from Central
      Michigan University. My primary instruments were the flute and guitar, and
      my performance degree is specialized in Flute Performance<br /><br />
      My degree included training in topics like Music Theory, Ear Training, and
      Music History. While we had some exposure to these topics at my
      highschool, most of the structured analysis of theory was new to me. I
      also spent 4 semesters studying the piano, and have learned how to
      accompany musicians on the piano.
    </p>
  </div>

  <h1>Work Experience</h1>

  <div id="Nexient">
    <h3>
      <div class="line">Nexient</div>
      Software Developer <br />November 2020 - present
    </h3>
    <ul>
      <li>
        Monitor orders between sales and billing to ensure all orders meet high
        standard required to ensure customer satisfaction
      </li>
      <li>Maintaining database accuracy</li>
      <li>
        Ensuring all post-order changes requested by customers or management are
        promptly reviewed
      </li>
    </ul>
    <p id="Developer"></p>
  </div>

  <div id="InformaIntel">
    <h3>
      <div>Informa Intelligence</div>
      Sales Operations Coordinator <br />March 2020 - November 2020
    </h3>
    <p id="SalesOps"></p>
    <ul>
      <li>
        Monitor orders between sales and billing to ensure all orders meet high
        standard required to ensure customer satisfaction
      </li>
      <li>Maintaining database accuracy</li>
      <li>
        Ensuring all post-order changes requested by customers or management are
        promptly reviewed
      </li>
    </ul>
  </div>

  <div id="Wards">
    <h3>
      Wards Intelligence (Informa Business Media, Inc)<br />
      Client Success Manager,<br />
      June 2017 - March 2020
    </h3>
    <p id="CSM"></p>
    <ul>
      <li>
        Supported client and prospect needs through tutorials and helped with
        best practice suggestions
      </li>
      <li>Supported the marketing initiatives requested by the Sales team</li>
      <li>
        Managed renewals for clients and provided relevant assistance to clients
        to help support upgrades
      </li>

      <li>
        Worked through and oversaw key projects to help support business
        initiatives, including testing data during website migrations, phasing
        out products, and creating streamlined processes to help simplify
        renewal efforts
      </li>
    </ul>
  </div>

  <div id="DearbornSOM">
    <h3>
      Dearborn School of Music<br />
      Private Music Instructor, <br />February 2018 - March 2020
    </h3>
    <p id="Teacher"></p>
    <ul>
      <li>
        Taught guitar, flute, and ukulele to beginning and intermediate students
      </li>
      <li>
        Covered topics on learning to read music, how to tune, working on
        scales, and preparing for performances
      </li>
      <li>
        Provided weekly lesson plans to help students manage their practice time
      </li>
    </ul>
  </div>
</body>
