.outerbody {
  width: 100vw;
  background-color: #fff;
  /* border: 1px solid; */
  /* margin-top: 0px; */
  /* margin-right: 550px; */
}

/* #border {
  border: solid 1px;
  margin: 50px;
} */

.sidebar {
  /* width: 100%; */
  height: 100vh;
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  z-index: 1;
  background-color: #16e0bd;
  width: 5vw;
  font-size: 3em;
  margin-left: 10%;
  padding-bottom: 50px;
  padding-top: 80px;
  display: flex;
}

#two {
  padding-top: 7em;
}

section {
  /* padding: 5em 2em; */
  width: 100%;
  /* position: relative; */
}
.techskillz {
  background-color: #fff;
  background-size: cover;
  color: #303030;
  text-align: center;
  font-family: "PT Serif", serif;
  /* box-sizing: border-box; */
  display: block;
  /* font-size: 1rem; */
  /* line-height: 1; */
  /* position: relative; */
}

.service {
  float: left;
  width: 33.33%;
  padding-bottom: 50px;
}
body {
  width: 50vw;
  text-align: center;
  margin: auto;
  font-family: "PT Serif", serif;
  z-index: -1;
  /* border: 1px solid #16e0bd;
  box-shadow: #303030; */
}

.first {
  height: 15%;
  width: 100%;
  text-align: center;
  /* overflow: scroll; */
}

.second {
  height: 15%;
  width: 100%;
  text-align: center;
}

ul {
  list-style-type: none;
}

h1 {
  height: 50px;
  width: 50vw;
  /* background-color: #16e0bd; */
  color: #303030;
  text-decoration: underline #16e0bd;
}

h3 {
  height: 250pxpx;
  width: 100%;
  /* background-color: #303030; */
  color: #303030;
  /* font-weight: 200; */
  background-color: #fff;
  /* text-decoration: underline #16e0bd; */
}

.line {
  text-decoration: overline;
}
