<body>
  <span id="one">Tech Skills</span>
  <div id="line"></div>
  <section id="techy" class="techskillz">
    <!-- <div class="services"> -->
    <div class="service">
      <h4>HTML/CSS</h4>
      <h4>JavaScript</h4>
      <h4>Angular</h4>
      <h4>AngularJS</h4>
    </div>
    <div class="service">
      <h4>Web APIs</h4>
      <h4>Node.js</h4>
      <h4>TypeScript</h4>
      <h4>ReactJS</h4>
    </div>
    <div class="service">
      <h4>Git/GitHub</h4>
      <h4>VBA</h4>
      <h4>SQL</h4>
      <h4>Agile</h4>
    </div>
    <!-- </div> -->
  </section>
  <div class="Education">
    <span id="three">Education</span>
    <div id="line"></div>
    <!-- <section id="work" class="workHistory"> -->
    <h3>Grand Circus</h3>
    <h4>Front End Web Development<br />Bootcamp Graduate<br />June 2020</h4>
    <ul>
      <li>
        Worked with current front-end technologies and integrated them with a UI
        to produce a finished application
      </li>
      <li>
        Learned how to regularly integrate version control in my applications
        through GitHub
      </li>
      <li>
        Regular paired-programming exercises with classmates to help expand on
        what we were learning
      </li>
    </ul>
    <h3>Central Michigan University</h3>
    <h4>BA Music Performance <br />June 2015</h4>
    <ul>
      <li>
        Studied Music Performance at Central Michigan University from September
        2010 - June 2015.
      </li>
      <li>
        Performed in many events at the school with the CMU Wind Symphony and
        CMU Concert Orchestra
      </li>
      <li>
        Areas of study include: Music Theory, Ear Training, Music History,
        Teaching, and Composition
      </li>
    </ul>
  </div>
  <div class="Experience">
    <span id="three">Work History</span>
    <div id="line"></div>
    <!-- <section id="work" class="workHistory"> -->
    <h3>Nexient</h3>
    <h4>Software Developer<br />November 2020 - present</h4>
    <ul>
      <li>Consultative work for CCPA & EWR projects at The Home Depot</li>
      <li>
        Full stack role for PG&E to help create their PSPS Visualization app
      </li>
      <li>
        JavaScript Frameworks for these projects include Angular, AngularJS,
        React, and NodeJS
      </li>
    </ul>
    <h3>Informa Intelligence</h3>
    <h4>Sales Operations Coordinator <br />March 2020 - November 2020</h4>
    <ul>
      <li>
        Monitor orders between sales and billing to ensure all orders meet high
        standard required to ensure customer satisfaction
      </li>
      <li>Maintaining database accuracy</li>
      <li>
        Ensuring all post-order changes requested by customers or management are
        promptly reviewed
      </li>
    </ul>
    <h3>Wards Intelligence/Informa Business Media, Inc</h3>
    <h4>
      Client Success Manager,<br />
      June 2017 - March 2020
    </h4>
    <ul>
      <li>
        Supported client and prospect needs through tutorials and helped with
        best practice suggestions
      </li>
      <li>Supported the marketing initiatives requested by the Sales team</li>
      <li>
        Managed renewals for clients and provided relevant assistance to clients
        to help support upgrades
      </li>

      <li>
        Surveyed key projects to help support business initiatives, such as:
        testing data during website migrations, phasing out products, and
        streamlining processes to help simplify renewal efforts
      </li>
    </ul>
    <h3>Dearborn School of Music</h3>
    <h4>Private Music Instructor, <br />February 2018 - March 2020</h4>
    <ul>
      <li>
        Taught guitar, flute, and ukulele to beginning and intermediate students
      </li>
      <li>
        Covered topics on learning to read music, how to tune, working on
        scales, and preparing for performances
      </li>
      <li>
        Provided weekly lesson plans to help students manage their practice time
      </li>
    </ul>
  </div>
</body>
