header {
  height: 10%;
  width: 100%;
  text-align: center;
}

h3 {
  height: 10%;
  width: 100%;
  text-align: center;
}

ul {
  list-style-type: none;
  height: 10%;
  width: 100%;
  text-align: center;
}

li {
  display: block;
  margin: 5px;
}
